{%extends 'base.html'%}
{%block title%}
Posts-{{request.user.username}}
{%endblock title%}
{%block body%}
<div class="wrapper" style="flex-direction: column;gap: 0;">
    <h2>Do you really want to delete this post?</h2><br>
    <div class="blog_card{{forloop.counter}} blog_card">
        <div class="image" >
            <img src="{{post.thumbnail.url}}" alt="image">
        </div> 
        <div class="content">
            
            <div class="title"x >{{post.title}}</div>
            
            <div class="actual_content">{{post.content|safe}}</div>
            <div class="date_uploaded">Posted on: {{post.posted_on}}</div>
            <div class="author">By: <strong>{{post.author.author_name}}</strong> | <span class="desc">{{post.author.occupation}} {%if post.author.occupation == 'Student'%} | {{post.author.clg_yr}} Yr.{%endif%}</span></div>
            <div class="likes">Views:{{post.views}}</div>

            
            {% if request.user == post.author.author_real or user.is_superuser%}
            <form action="" method="post">
                {%csrf_token%}
                <input type="text" value="{{post.id}}" hidden name="post_id">
                <button class="submit_btn" style="background-color: rgba(198, 5, 5, 0.744);" type="submit">Delete</button>
            </form>
            {%endif%}
            <button  class="submit_btn{{forloop.counter}} submit_btn_active" onclick="toggle_active('.blog_card{{forloop.counter}}','.submit_btn{{forloop.counter}}')">Close</button>
          
        
            <!-- <button class="submit_btn" style="background-color: red;">Delete</button> -->
        
            {{post.body|safe}}
        </div>
    </div>
</div>
{%endblock body%}