{%extends 'base.html'%}
{%block title%}
Login
{%endblock title%}

{%block body%}
<div class="wrapper_login">

    <form action="" method=POST>
        {%csrf_token%}
        <div class="login_name" style="font-size: 25px;">Login</div>
        <div class="name">
            Name <br>
            <input type="text" name="username" placeholder="Name">
        </div>
        <div class="password">
            Password <br>
            <input type="password" name="password" placeholder="Password..">
        </div>
      
        <button type="submit">Login</button>
    </form>
    <a href="/auth/signup">SignUp</a>
</div>

{%endblock body%}