{%extends 'base.html'%}
{%block title%}
{{profile.author_name}}
{%endblock title%}
{%block body%}
<!-- <h3 style="font-size: 20em;">Posts by {{profile.author_name}}</h3> -->
<div class="wrapper" style="padding-top: 40px;">
    <div class="heading" style="position: fixed;left: 50%;transform:translateX(-50%);top:  100px;font-size: 35px;font-weight: bold;z-index: 0;width: 100vw;background: white;text-align: center;padding: 5px 0;">Posts by {{profile.author_name}}</div>

    <!-- <h2>Posts by {{profile.author_name}}</h2> -->
    {% if posts%}
    {% for post in posts%}
    <div class="blog_card{{forloop.counter}} blog_card">
        <div class="image" >
            <img src="{{post.thumbnail.url}}" alt="image">
        </div> 
        <div class="content">
            
            <div class="title"x >{{post.title}}</div>
            
            <div class="actual_content">{{post.content|safe}}</div>
            <div class="date_uploaded">Posted on: {{post.posted_on}}</div>
            <div class="author">By: <strong>
                <a href="/posts/{{request.user.id}}" style="color: black;text-decoration: none;">{{post.author.author_name}}</a>
            </strong> | <span class="desc">{{post.author.occupation}} {%if post.author.occupation == 'Student'%} | {{post.author.clg_yr}} Yr.{%endif%}</span>
            </div>
            <div class="likes">Views:{{post.views}}</div>
            <button  class="submit_btn{{forloop.counter}} submit_btn" onclick="toggle_active('.blog_card{{forloop.counter}}','.submit_btn{{forloop.counter}}')">Read more..</button>
            
            {% if request.user == post.author.author_real%}
            <form action="/delete" method="get">
                <input type="text" value="{{post.id}}" hidden name="post_id">
                <button class="submit_btn" style="background-color: rgba(198, 5, 5, 0.744);" type="submit">Delete</button>
            </form>
            {%endif%}
            <button  class="submit_btn{{forloop.counter}} submit_btn_active" onclick="toggle_active('.blog_card{{forloop.counter}}','.submit_btn{{forloop.counter}}')">Close</button>
          
        
            <!-- <button class="submit_btn" style="background-color: red;">Delete</button> -->
        
            {{post.body|safe}}
        </div>
    </div>
    {%endfor%}
    {%endif%}
</div>

{%endblock body%}